<a href="https://colab.research.google.com/github/moritzfaller/Software-Entwicklung-und-Datenanalyse-in-Python/blob/main/Python_Vorlesung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 14.03.2022

In [ ]:
x = 3
print(type(x))

<class 'int'>

In [ ]:
a = 'Hello '
b = 'World '
c = 'hello world'

print ((a+b)*3)

In [ ]:
print(a[:8:2])

Hlo

In [ ]:
pi = 3.14
print("the value of pi is {}".format(pi))
print(f'the value of pi is {pi}')

the value of pi is 3.14
the value of pi is 3.14

In [ ]:
a = list(range(10)) #Liste von 0-9 erzeugen
print(a) #Liste ausgeben

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
tuple = (2,3,4,5,6) #nicht Ã¤nderbar --> distincte Bedeutung
tuple[1]

3

In [ ]:
print(2 in tuple)

True

###Controll Flows

In [ ]:
x = 2

if x == 1:
  print('x equals to 1')
elif x == 2:
  print ('x equals to 2')
else:
  print ('neee')

x equals to 2

###The for-statement

In [ ]:
elem = [1,2,3,'hallo']

for r in elem:
  print(r, type(r))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
hallo <class 'str'>

###while

In [ ]:
x = 0

while x < 5:
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
x = 0

while True:
  print(x)
  x = x + 1
  if x > 5:
    break

0
1
2
3
4
5

###Vergleichsoperatoren

In [ ]:
x = 3
y = 2

if x > y:
  print('passt so!')
else:
  print('nochmal')

##Folgende Vergleichoperatoren gibt es
2 < 3
3 > 2
tbd

passt so!

In [ ]:
print(True and True)
print(True and False)

True
False

In [ ]:
print(True or True)
print(True or False) #Das oder das muss sein

True
True